<ng-container *ngIf="vm$ | async as vm">
  <div class="inventory-create px-4 py-3">
    <h2 class="text-light">Add Inventory Item</h2>
    <mat-divider></mat-divider>
    
    <!-- Barcode Scanner Component -->
    <app-barcode-scanner 
      (scanned)="onBarcodeScanned($event)"
      (error)="onBarcodeScanError($event)">
    </app-barcode-scanner>
    
    <form [formGroup]="inventoryForm" class="pt-4">
      <mat-form-field appearance="outline" floatLabel="auto" class="w-100">
        <mat-label>Barcode</mat-label>
        <input
          #barCode
          matInput
          type="text"
          formControlName="barCode"
          required
          readonly="true"
        />
        <mat-error
          *ngIf="inventoryForm.get('barCode')?.hasError('required')"
        >
          Barcode is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" floatLabel="auto" class="w-100">
        <mat-label>Item Name</mat-label>
        <input
          #itemName
          matInput
          type="text"
          formControlName="itemName"
          required
        />
        <mat-error
          *ngIf="inventoryForm.get('itemName')?.hasError('required')"
        >
          Item name is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" floatLabel="auto" class="w-100">
        <mat-label>Price</mat-label>
        <input
          #price
          matInput
          type="number"
          formControlName="price"
          min="0"
          step="0.01"
          required
        />
        <mat-error
          *ngIf="inventoryForm.get('price')?.hasError('required')"
        >
          Price is required
        </mat-error>
      </mat-form-field>
      
      <mat-form-field appearance="outline" floatLabel="auto" class="w-100">
        <mat-label>Store</mat-label>
        <input
          #store
          matInput
          type="text"
          formControlName="store"
          required
        />
        <mat-error
          *ngIf="inventoryForm.get('store')?.hasError('required')"
        >
          Store is required
        </mat-error>
      </mat-form-field>
    </form>
    
    <div class="d-flex justify-content-end">
      <button
        mat-raised-button
        color="primary"
        (click)="addInventoryItem(vm)"
        [disabled]="inventoryForm.invalid"
      >
        <mat-icon>add</mat-icon>
        Add Item
      </button>
    </div>
  </div>
</ng-container>
