<ng-container>
  <div class="expenses-create px-4 py-3">
    <h2>
      Add Expense
    </h2>
    <mat-divider></mat-divider>
    <form [formGroup]="expensesForm" class="pt-4">
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="w-100"
      >
        <mat-label>Name</mat-label>
        <input
          #expenseName
          matInput
          type="text"
          formControlName="expenseName"
        />
      </mat-form-field>
      <mat-form-field
        appearance="outline"
        floatLabel="auto"
        class="w-100"
      >
        <mat-label>Amount</mat-label>
        <input
          #expenseAmount
          matInput
          type="number"
          formControlName="expenseAmount"
        />
      </mat-form-field>
    </form>
    <div class="d-flex justify-content-end">
      <button mat-raised-button color="primary" (click)="addExpenses()">Submit</button>
    </div>
  </div>
</ng-container>
